body{
    margin: 0;
    padding: 0;
}

#title{
    width: 100vw;
    background-color: #595959;
    display: flex;
    justify-content: center;
    color: white;
}

#buttons{
    /* width: */
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-top: 20px;

}

button{
    height: 300px;
    width: 300px;
    border-radius: 20px;
    color: white;
    border: none;
    background-color: #595959;
    font-size: 3em;
}

#line{
    /* width: 100%; */
    height: 75px;
    background-color: #B3B3B3;
    /* margin: 20px; */
    border-radius: 20px;
    margin: 20px;
}